<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Spring Cloud Netflix Docker - 403 page</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
        <h1>Spring Cloud Netflix Docker - 403 page</h1>
        <h2>FORBIDDEN! You must approve at least read scope.</h2>
        <p>Click <a th:href="@{/}">here</a> to go to home.</p>
        </div>
    </body>
</html>