<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Spring Cloud Netflix Docker - Add User Page</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="container my-5">
			<h3>New User</h3>
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-6"> -->
					<!-- <form action="#" th:action="@{/adduser}" th:object="${user}"
						method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">Name</label> <input
									type="text" th:field="*{name}" class="form-control" id="name"
									placeholder="Name"></input> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email"></input> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mt-5">
								<input type="submit" class="btn btn-primary" value="Add User"></input>
							</div>
						</div>
					</form> -->
					<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
					    <div class="form-group">
							<label for="name">Name</label> 
							<input type="text" th:field="*{name}" class="form-control" id="name"
								placeholder="Enter Name"><span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
						</div>
						 <div class="form-group">
							<label for="lastName">Last Name</label> 
							<input type="text" th:field="*{lastName}" class="form-control" id="lastName"
								placeholder="Enter LastName"><span
									th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
									class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="Email">Email address</label> <input
								type="email" class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll
								never share your email with anyone else.</small>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> <input
								type="password" class="form-control" id="exampleInputPassword1"
								placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
	</div>
</body>
</html>