<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Spring Cloud Netflix Docker - Error page</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
        <h1>Spring Cloud Netflix Docker - Error Page</h1>
        <p th:text="${errorCode}">404</p>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
        <p>Click <a th:href="@{/}">here</a> to go to home.</p>
        </div>
    </body>
</html>