<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Spring Cloud Netflix Docker - Hello Page</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
        <h1>Spring Cloud Netflix Docker - SecureUI</h1>
        
        <p>This is the <b>administration</b> zone</p>
        <p>Only authenticated users with role <b>ADMIN</b> are allowed to see this page.</p>
        
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <p>Click <a th:href="@{/}">here</a> to go to home.</p>
        </div>
    </body>
</html>