<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Spring Cloud Netflix Docker - Home Page</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
    <h1>Spring Cloud Netflix Docker - Home Page</h1>
    
    <div th:if="${success}">
		<div class="alert alert-info">You've successfully registered to our awesome app! <a href="/" th:href="@{/login}">SignIn here</a></div>
	</div>
    
	<p>This is a public page, but you can navigate to protected pages
		to trigger authentication.</p>
	<p>Different content is shown depending on the role of the
		authenticated user.</p>

	<p>Click <a th:href="@{/hello}">here</a> to see a greeting. (<b>administrators</b> only)</p>
	<p>Click <a th:href="@{/time}">here</a> to see current time. (<b>users</b> only)</p>
	<p>Click <a th:href="@{/reports}">here</a> to see tolldata. (<b>administrators</b> with <b>read</b> scope only)</p>
	<p>Click <a th:href="@{/users}">here</a> to see users. (<b>administrators</b> with <b>read</b> scope only)</p>
	<p>Click <a th:href="@{/notes}">here</a> to see notes. (<b>users</b> with <b>read</b> scope only)</p>
	<h2>Exception handling</h2>
	<ul>
		<li>You can <a href="error.html" th:href="@{/simulateError}">simulate
				an exception</a> to see custom ErrorPage.
		</li>
	</ul>
</div>
</body>
</html>