<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<title>Spring Cloud Netflix Docker - Time Page</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
	<h1>Spring Cloud Netflix Docker - Time Page</h1>
	<p>This is the <b>user</b> zone	</p>
	<p>Only authenticated users with role <b>USER</b> are allowed to see this page.	</p>
	<p>The current time is: <span th:text="${currentTime}"></span></p>
	<p>
		Click <a th:href="@{/}">here</a> to go to home.
	</p>
	</div>
</body>
</html>