h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.navbar-brand {
  text-align:center;
  margin:0 !important;
  padding:0 !important; /*uncomment to fit*/  
}
#logo
{
float: left;
width:45px;
height:100%;
}

.nav {
float:left;
}